@import "./global";

.footer {
  width: 100%;
  padding: $spacing-32 $spacing-64 $spacing-96 $spacing-64;
  text-align: center;
  background: $darkmode-background;
  color: $darkmode-text-primary;

  p {
    margin: 0;
  }
}

@media (width < $breakpoint-lg) {
  .footer {
    padding: $spacing-32 $spacing-32 $spacing-64 $spacing-32;
  }
}

@media (width < $breakpoint-md) {
  .footer {
    padding: $spacing-16 $spacing-24 $spacing-32 $spacing-24;
  }
}