@import "global";

.mlb-standings-table {
  border-collapse: collapse;
  border: solid 1px black;

  thead tr {
    background: #bdbdbd;
    font-weight: $font-bold;
  }

  td {
    border: solid 1px black;
    padding: 8px 12px;

    &:nth-of-type(1) {
      white-space: nowrap;
    }

    .team-logo {
      height: 1.2em;
      width: 1.2em;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}