@import "./global";

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-0 $spacing-64;
  background: $darkmode-background;
  color: $darkmode-text-primary;
  height: 64px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .branding {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: $font-light;
    gap: $spacing-8;

    .logo {
      height: 36px;
    }

    .text-container {
      display: flex;
      flex-direction: column;

      .main {
        font-size: 1.2em;
      }

      .secondary {
        opacity: .6;
      }
    }
  }

  .options {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: $spacing-8;

    .item {
      position: relative;
    }

    .item a {
      color: $darkmode-text-primary;
      font-weight: $font-bold;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: $darkmode-text-primary;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.status-bar {
  padding: $spacing-8 $spacing-0;
  background-color: $modal;
  text-align: center;
  display: none;
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 998;
}

@media (width < $breakpoint-lg) {
  .navigation-bar {
    padding: $spacing-0 $spacing-32;
  }
}

@media (width < $breakpoint-md) {
  .navigation-bar {
    padding: $spacing-0 $spacing-24;
    display: block;

    .branding {
      height: 100%;
    }

    .options {
      flex-direction: column;
      position: absolute;
      background: $foreground;
      padding: $spacing-16 $spacing-32;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      top: 64px;
      left: 0;
      right: 0;
      box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
      gap: 0;
      height: auto;

      .item {
        position: static;
      }

      .item a {
        color: $text-primary;
        font-weight: $font-medium;
        padding: $spacing-8 0;
        display: block;
        width: 100%;
        text-align: right;
        border-bottom: 1px solid rgb(0 0 0 / 10%);

        &::after {
          display: none;
        }

        &:hover {
          color: $secondary-text;
        }
      }

      .item:last-child a {
        border-bottom: none;
      }
    }
  }
}

@media (width < $breakpoint-sm) {
  .navigation-bar {
    padding: $spacing-0 $spacing-8;
  }
}